NODE_ENV=development
PORT=3333
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
LOG_LEVEL=info

JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=
JWT_PASSWORD_REDEFINITION_SECRET_KEY=

BREVO_API_KEY=
EMAIL_FROM=
FRONTEND_PROD_URL=

CORS_ORIGINS=
